# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.keystore
*.jks

# iOS
Pods/
.generated/
DerivedData/

# OS
.DS_Store
Thumbs.db

# Data
Anapath/
